*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif
}
body{
    background: #3A4774;
}
::-webkit-scrollbar{
    width: 10px;
  }
::-webkit-scrollbar-thumb{
    background: var(--secondary)
}